# -----------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# -----------------------------------------------------------------------
# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

trainingstorefrontaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
trainingstorefrontaddon.application-context=trainingstorefrontaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.trainingstorefrontaddon=classpath:/trainingstorefrontaddon/web/spring/trainingstorefrontaddon-web-spring.xml



trainingstorefrontaddon.javascript.paths.responsive=/responsive/common/js/trainingstorefrontaddon.js
trainingstorefrontaddon.css.paths.responsive=/responsive/common/css/trainingstorefrontaddon.css
