.yw-labelstyle
{
	color: var(--bo-text-color);
}

.trainingcustombackoffice-container {
	background: var(--bo-base-background);
	font-family: var(--bo-font-family);
	font-size:  var(--bo-font-size);
}
